body {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}
#chessBoard {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  border: solid black 10px;
}

.square {
  height: 100px;
  width: 100px;
  position: relative;
}

.bgGreen {
  background-color: #769656;
}

.bgSkin {
  background-color: #eeeed2;
}

.square svg {
  height: 70px;
  width: 70px;
  margin: 15px;
  position: relative;
  z-index: -9;
}
path {
  position: relative;
  z-index: -10;
}
.chessMan {
  position: relative;
  z-index: 1;
}
.whiteColor {
  fill: white;
  stroke: black;
  stroke-width: 10px;
}
.blackColor {
  fill: black;
  stroke: black;
  stroke-width: 10px;
}
#moves {
  background-color: darkgrey;
  height: 800px;
  width: 500px;
  border: solid black 10px;
}
.place {
  z-index: -1;
  color: red;
}
