body {
  background-color: #312e2b;
  display: flex;
  flex-wrap: wrap;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}
#chessBoard {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  border: solid #5c5750 2px;
}

.square {
  height: 100px;
  width: 100px;
  position: relative;
}

.bgGreen {
  background-color: #769656;
}

.bgSkin {
  background-color: #eeeed2;
}

.square svg {
  height: 70px;
  width: 70px;
  margin: 15px;
  position: relative;
  z-index: -9;
}
path {
  position: relative;
  z-index: -10;
}
.chessMan {
  position: relative;
  z-index: 1;
}
.whiteColor {
  fill: white;
  stroke: black;
  stroke-width: 10px;
}
.blackColor {
  fill: black;
  stroke: black;
  stroke-width: 10px;
}
#moves {
  background-color: #3d3b39;
  height: 800px;
  width: 500px;
  border: solid #3d3b39 2px;
  overflow: auto;
  border-radius: 10px;
  margin-left: 20px;
}
.place {
  z-index: -1;
  color: red;
}
p[moveRowId] {
  position: relative;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #5c5750;
  border-radius: 5px;
}
span[moveMessageId] {
  padding: 5px;
  color: whitesmoke;
}
.moveBlackColor {
  fill: black;
  stroke: black;
  height: 20px;
  width: 20px;
  stroke-width: 10px;
  position: relative;
}

.moveWhiteColor {
  fill: white;
  stroke: black;
  height: 20px;
  width: 20px;
  stroke-width: 10px;
  position: relative;
}

@media (max-width: 768px) {
  #chessBoard {
    width: 600px;
    height: 600px;
  }
  .square {
    height: 75px;
    width: 75px;
    position: relative;
  }
  .square svg {
    height: 55px;
    width: 55px;
    margin: 10px;
    position: relative;
    z-index: -9;
  }
  #moves {
    height: 600px;
    width: 300px;

    border-radius: 10px;
    margin-left: 20px;
  }
}
#deadMenBlack {
  height: 800px;
  width: 40px;
  background-color: #3d3b39;
  border: solid #5c5750 2px;
  border-radius: 10px;
  border-radius: 5px 0px 0px 5px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: auto;
}

#deadMenWhite {
  height: 800px;
  width: 40px;
  background-color: #3d3b39;
  border: solid #5c5750 2px;
  border-radius: 0px 5px 5px 0px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-direction: column-reverse;
  overflow: auto;
}

.deadMenSpan {
  margin: 5px;
  padding: 5px;
}
